<a href="https://colab.research.google.com/github/surajshinde-19/Music-Store-Data/blob/main/Assignment_1_(Variables_%2C_Data_type).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1) variable creation
name= "suraj"
age= "23"
is_student= True

print("Student name:", name)
print("Age:", age)
print("student Status:", is_student)

print(f"My name is {name} and I am {age} years old and my student status is {is_student}.")

Student name: suraj
Age: 23
student Status: True
My name is suraj and I am 23 years old and my student status is True.

In [ ]:
#2) Arithmetic operations
a= 25
b= 4

print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a**b)
print(a//b)


# the difference between division(/) and floor division (//) is that if you divide 14/4 you will get 3.5 and if you divide same 14//4 you will get only 3 because floor division only returns single integer

29
21
100
6.25
1
390625
6

In [ ]:
#3)comparison operators

a= 10
b= 10

print(a==b)
print(a!=b)
print(a<b)
print(a>b)
print(a<=b)
print(a>=b)

True
False
False
False
True
True

In [ ]:
#4)assignment operators

x = 10
print("actual x =", x)

x += 5
print("After x += 5 =", x)

x -= 3
print("After x -= 3 =", x)

x *= 2
print("After x *= 2 =", x)

x /= 4
print("After x /= 4 =", x)

x %= 5
print("After x %= 5 =", x)

x **= 3
print("After x **= 3 =", x)

x //= 2
print("After x //= 2 =", x)

actual x = 10
After x += 5 = 15
After x -= 3 = 12
After x *= 2 = 24
After x /= 4 = 6.0
After x %= 5 = 1.0
After x **= 3 = 1.0
After x //= 2 = 0.0

In [ ]:
#5) membership and identity operator

print("Py" in "Python Programming")

print("Java" in "Python Programming")

a= 30
b= 30

print(a is b)
print (a is not b)

True
False
True
False

In [ ]:
#6)String indexing and slicing

txt= "DataAnalytics"

first= txt[0]
last= txt[-1]
middle=txt[len(txt)//2]

print("first character is:", first)
print("last character is:", last)
print("middle character is:", middle)


print("characters from 2 to 6 are:", txt[2:7])

print("string in reverse is:", txt[::-1])

first character is: D
last character is: s
middle character is: a
characters from 2 to 6 are: taAna
string in reverse is: scitylanAataD